@model StudentManagement.Models.NoteViewModel.NoteEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{ ViewData["Title"] = "Create"; }

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="~/Login/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Login/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/Login/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Login/css/style.css">
</head>

<div class="container" style="border-style: dashed; width: 500px; height: auto; margin-top: 80px">
    <p>
        <h1>@localizer["title"]</h1>
    </p>

    <div class="row">
        <div class="col-8">
            <form asp-action="Create" asp-route-projectId="@ViewBag.Project.Id">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label class="control-label">@localizer["text"]</label>
                    <textarea asp-for="Text" class="form-control"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="@localizer["create"]" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Details" asp-controller="Projects" asp-route-id="@ViewBag.Project.Id">@localizer["back"]</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/Login/js/jquery-3.3.1.min.js"></script>
<script src="~/Login/js/popper.min.js"></script>
<script src="~/Login/js/bootstrap.min.js"></script>
<script src="~/Login/js/main.js"></script>