@model StudentManagement.Models.Project

@using StudentManagement.Service
@inject StudentManagement.Service.UserService UserService
@inject IUserPermission Userpermission
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Details";
}

<h1> @Html.DisplayFor(model => model.Title)</h1>

<div class="card mb-3">
    <div class="card-header">
        <div> @localizer["modified"]: @Model.Modified | @localizer["start"]: @Model.StartTime.ToShortDateString() | @localizer["end"]: @Model.DeadLine.ToShortDateString() </div>
    </div>
    <div class="card-body">
        <h5>@Html.Raw(Model.Description)</h5>
    </div>
    <div class="card-footer">
        <form method="post" asp-action="Delete" asp-route-id="@Model.Id">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">@localizer["edit"]</a>
            <a class="btn btn-primary" asp-action="Index">@localizer["back"]</a>
            <a class="btn btn-primary" asp-action="Create" asp-controller="Records" asp-route-projectId="@Model.Id">@localizer["logTime"]</a>
            <span id="confirmSpan_@Model.Id" style="display:none">
                <span>@localizer["deleteSpan"]</span>
                <button type="submit" class="btn btn-danger">@localizer["yes"]</button>
                <a href="#" class="btn btn-primary" onclick="confirmDelete('@Model.Id', false)">@localizer["no"]</a>
            </span>

            <span id="deleteSpan_@Model.Id">
                <a href="#" class="btn btn-danger" onclick="confirmDelete('@Model.Id', true)">@localizer["delete"]</a>
            </span>
        </form>

    </div>
</div>

<h3>@localizer["comment"]</h3>

<p>
    <a asp-action="Create" asp-controller="Notes" asp-route-projectId="@Model.Id" class="btn btn-primary">@localizer["create"]</a>
</p>



@if (Model.Notes.Any())
{
    <div class="card-container">
        @foreach (var item in Model.Notes.OrderByDescending(x => x.Created))
        {
            <div class="cardx">
                <header class="article-header">
                    <div>
                        <div class="note-title">
                            <img src="~/uploads/@await UserService.GetNoteCreatorProfile(item.Creator.Email)" class="meow" />
                            <b>@item.Creator.FullName</b>
                            @item.Created
                        </div>
                    </div>
                    <h5 class="note-content">
                        @item.Text
                    </h5>
                </header>

                <div class="note-tag">
                    <div><a asp-action="Edit" asp-controller="Notes" asp-route-Id="@item.Id">Edit</a></div>
                    <div><a asp-action="Delete" asp-controller="Notes" asp-route-Id="@item.Id">Delete</a></div>
                </div>
            </div>

        }
    </div>
}

@section Scripts{
    <script src="~/js/site.js"></script>
    <script src="~/js/ckeditor/ckeditor.js"></script>
    <script>CKEDITOR.replace('Description');</script>
}

