@model StudentManagement.Models.ProjectViewModel.ProjectDetailViewModel

@using StudentManagement.Service
@inject StudentManagement.Service.UserService UserService
@inject IUserPermission Userpermission
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Project's Detail Page";
}

<div class="container col-7" style="position:relative">
    <div style="width:40px;height:40px;background-color:#4285f4;border-radius:50%;color:#fff;display:flex;justify-content:center;align-items:center;position:absolute;top:15px;left:-15px"><i class="fas fa-award"></i></div>
    <div style="width:220px;min-height:200px;position:absolute;top:15px;right:-210px;border-radius:15px;border:2px dashed black;overflow:hidden;padding:15px;">
        <form method="post" asp-action="Upload" asp-controller="Attachments" asp-route-projectId="@Model.Project.Id" enctype="multipart/form-data">
            <input class="mb-3" type="file" name="file" />
            <button class="upload ml-2" type="submit">Upload a file</button>
        </form>
    </div>
    <div class="card-header py-3 " style="border-bottom:2px solid #d1d1d1;">
        <div class="row" style="display:flex; justify-content:space-between; align-items:center">
            <h2 class="m-0 font-weight-bold text-primary" style="color:#137333">@Model.Project.Title</h2>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" asp-action="Edit" asp-controller="Projects" asp-route-id="@Model.Project.Id">Edit</a>
                    <a href="#projectDeleteModal" class="dropdown-item" data-toggle="modal">Delete</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-action="Create" asp-controller="Records" asp-route-projectId="@Model.Project.Id">Create Record</a>
                    <a class="dropdown-item" asp-action="Index" asp-controller="Records" asp-route-projectId="@Model.Project.Id">All Records</a>
                </div>
            </div>
        </div>

        <div class="row" style="display:flex; justify-content:space-between; align-items: center">
            <span style="font-size:0.5rem">@Model.Project.Creator.FullName • @Model.Project.Created.ToShortDateString()</span>
            <span style="font-size:0.5rem">From: @Model.Project.StartTime - @Model.Project.DeadLine</span>
        </div>
    </div>

    <div class="card-body" style="border-bottom:1px solid rgba(0,0,0,0.87)">
        @Html.Raw(Model.Project.Description)
    </div>

    <div style="padding-top:16px">
        <i class="fas fa-user-friends"></i>
        <span>Comments</span>
        @foreach (var note in Model.Project.Notes)
        {
            <div class="card-header" style="border:none;display:flex;align-items:center">
                <img class="mr-2" src="~/uploads/@note.Creator.Avatar" style="width:40px;height:40px;border-radius:50%" />
                <div>
                    <p style="margin:0">@note.Creator.FullName @note.Created.ToShortTimeString()</p>
                    <p style="margin:0">@note.Text</p>
                </div>
                <div class="dropdown no-arrow" style="margin-left:auto">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a href="#noteEditModal-@note.Id" class="dropdown-item" data-toggle="modal">Edit</a>
                        <a href="#noteDeleteModal-@note.Id" class="dropdown-item" data-toggle="modal">Delete</a>
                    </div>
                </div>
            </div>

            <form method="post" asp-action="Edit" asp-controller="Notes" asp-route-id="@note.Id">
                <div class="modal fade" id="noteEditModal-@note.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Comment</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="display:flex; justify-content:space-between; align-items:center; position:relative">
                                <img class="mr-2" src="~/uploads/@ViewBag.profileImg" style="width:40px;height:40px;border-radius:50%" />
                                <input asp-for="@Model.NoteEditViewModel.Text" class="form-control form-control-user" placeholder="Enter Your Comment...">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form method="post" asp-action="Delete" asp-controller="Notes" asp-route-id="@note.Id">
                <div id="noteDeleteModal-@note.Id" class="modal fade">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                            <div class="modal-header flex-column">
                                <div class="icon-box">
                                    <i class="fas fa-times-circle"></i>
                                </div>
                                <h4 class="modal-title w-100">Are you sure?</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Do you really want to delete these sources? This process cannot be undone.</p>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
    <hr>
    <form id="myNote" method="post" asp-controller="Notes" asp-action="Create" asp-route-projectId="@Model.Project.Id">
        <div class="mt-2" style="display:flex; justify-content:space-between; align-items:center; position:relative">
            <img class="mr-2" src="~/uploads/@ViewBag.profileImg" style="width:40px;height:40px;border-radius:50%" />
            <input asp-for="@Model.NoteEditViewModel.Text" class="form-control form-control-user" placeholder="Enter Your Comment...">
            <a onclick="document.getElementById('myNote').submit();" style="position:absolute; right:10px; top:9px;cursor:pointer"><i class="fas fa-paper-plane"></i></a>
        </div>
    </form>
</div>

<form method="post" asp-action="Delete" asp-controller="Projects" asp-route-id="@Model.Project.Id">
    <div id="projectDeleteModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="fas fa-times-circle"></i>
                    </div>
                    <h4 class="modal-title w-100">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete these sources? This process cannot be undone.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script src="~/js/demo/datatables-demo.js"></script>
}