@model IEnumerable<StudentManagement.Models.Project>
@using StudentManagement.Service

@inject IUserPermission Userpermission
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ ViewData["Title"] = "Projects"; }


<h1>@localizer["title"]</h1>



@if ((User.IsInRole("Teacher")) || (User.IsInRole("Administrator")))
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="Create" asp-controller="Projects">@localizer["add"]</a>}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Project's DataTable</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@localizer["project"]</th>
                        <th>@localizer["creator"]</th>
                        <th>@localizer["created"]</th>
                        <th>@localizer["note"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (Userpermission.CanSeeProject(item))
                        {
                            <tr>
                                <td><a asp-action="Edit" asp-controller="Projects" asp-route-id="@item.Id">@item.Title</a></td>
                                <td>@item.Creator.FullName</td>
                                <td>@item.Created</td>
                                <td>@item.Notes.Count</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/demo/datatables-demo.js"></script>
}
