@model IEnumerable<StudentManagement.Models.Project>
@using StudentManagement.Service

@inject IUserPermission Userpermission
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ ViewData["Title"] = "Projects"; }

<h1>@localizer["title"]</h1>



@if ((User.IsInRole("Teachers")) || (User.IsInRole("Administrators")))
{
<a class="btn btn-primary mb-3" style="width:auto" asp-action="Create" asp-controller="Projects">@localizer["add"]</a>}



<table class="table table-striped" id="Exampledatatable">
    <thead>
        <tr>
            <th scope="col">@localizer["project"]</th>
            <th scope="col">@localizer["creator"]</th>
            <th scope="col">@localizer["created"]</th>
            <th scope="col">@localizer["note"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
         @if (Userpermission.CanSeeProject(item))
         {
             <tr>
                 <th scope="row"><a asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id">@item.Title</a></th>
                 <td>@item.Creator.FullName</td>
                 <td>@item.Created</td>
                 <td>@item.Notes.Count</td>
             </tr>
         }
        }

    </tbody>
</table>



@section Scripts {

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#Exampledatatable").DataTable();
        });
    </script>
}
