@model PaginatedList<StudentManagement.Models.Project>
@using StudentManagement.Service

@inject IUserPermission Userpermission
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ ViewData["Title"] = "Projects"; }

<h1>@localizer["title"]</h1>

<form method="get" class="navbar-right">
    <div class="input-group mb-3">
        <input type="text" id="projectTitle" name="search" class="btn btn-outline-primary" placeholder="Enter your keyword" aria-describedby="basic-addon1" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">@localizer["search"]</button>
    </div>
</form>

@if ((User.IsInRole("Teachers")) || (User.IsInRole("Administrators")))
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="Create" asp-controller="Projects">@localizer["add"]</a>
}

@foreach (var item in Model)
{
    @if (Userpermission.CanSeeProject(item))
    {
        <div class="card mb-3">
            <div class="card-header">
                <h3>
                    <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id">@item.Title</a>
                </h3>
                <div>@item.Creator.FullName | @item.Created</div>
            </div>
            <div class="card-body ">
                <h5>@Html.Raw(item.Description)</h5>
                <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id" class="btn btn-primary">@localizer["read"]</a>
            </div>
            <div class="card-footer">
                @item.Notes.Count @localizer["note"]
            </div>
        </div>
    }
}

@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}

<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-search="@ViewBag.Search" class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-search="@ViewBag.Search" class="btn btn-default @nextDisabled">
    Next
</a>



@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $("#projectTitle").autocomplete({
                source: 'api/ProjectSearch/search'
            });
        });</script>
}
