@model IEnumerable<StudentManagement.Models.User>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ ViewData["Title"] = "All Users"; }

<h1>@localizer["title"]</h1>

<a class="btn btn-primary mb-3" style="width:auto" asp-action="Register" asp-controller="Account">@localizer["addUser"]</a>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@localizer["userTable"]</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@localizer["username"]</th>
                        <th>@localizer["email"]</th>
                        <th>@localizer["actions"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FullName</td>
                            <td>@item.Email</td>
                            <td>
                                <a title="Edit" class="btn btn-info" asp-action="EditUsers" asp-controller="Admin" asp-route-id="@item.Id">
                                    <i class="far fa-edit"></i>
                                </a>

                                <a title="Delete" class="btn btn-danger" data-toggle="modal" href="#userDeleteModal-@item.Id">
                                    <i class="fas fa-trash-alt"></i>
                                </a>

                                <form method="post" asp-action="DeleteUsers" asp-controller="Admin" asp-route-id="@item.Id">
                                    <div id="userDeleteModal-@item.Id" class="modal fade">
                                        <div class="modal-dialog modal-confirm">
                                            <div class="modal-content">
                                                <div class="modal-header flex-column">
                                                    <div class="icon-box">
                                                        <i class="fas fa-times-circle"></i>
                                                    </div>
                                                    <h4 class="modal-title w-100">@localizer["alertTitle"]</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>@localizer["alertText"]</p>
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@localizer["cancel"]</button>
                                                    <button type="submit" class="btn btn-danger">@localizer["delete"]</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                </td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/demo/datatables-demo.js"></script>
}