@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewBag.Totle = "All Roles";
}

<h1>@localizer["title"]</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole" asp-controller="Admin">@localizer["add"]</a>
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                @localizer["roleid"]: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <form method="post" asp-action="DeleteRoles" asp-controller="Admin" asp-route-id="@role.Id">
                    <a class="btn btn-primary" asp-action="EditRole" asp-controller="Admin" asp-route-id="@role.Id">@localizer["edit"]</a>
                    <span id="confirmSpan_@role.Id" style="display:none">
                        <span>@localizer["deleteSpan"]</span>
                        <button type="submit" class="btn btn-danger">@localizer["yes"]</button>
                        <a href="#" class="btn btn-primary" onclick="confirmDelete('@role.Id', false)">@localizer["no"]</a>
                    </span>

                    <span id="deleteSpan_@role.Id">
                        <a href="#" class="btn btn-danger" onclick="confirmDelete('@role.Id', true)">@localizer["delete"]</a>
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            @localizer["exception"]
        </div>
        <div class="card-body">
            <h5 class="card-title">
                @localizer["usebutton"]
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Admin" asp-action="CreateRole">
                @localizer["add"]
            </a>
        </div>
    </div>
}


@section Scripts{
    <script src="~/js/site.js"></script>
}
