@model StudentManagement.Models.RecordViewModel.RecordCreateViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<h1>@localizer["title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@localizer["studentname"]</label>
                <select asp-for="StudentName" class="form-control" asp-items="ViewBag.StudentName"></select>
            </div>

            <div class="form-group">
                <label class="control-label">@localizer["logtime"]</label>
                <input asp-for="LogTime" class="form-control" />
                <span asp-validation-for="LogTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">@localizer["week"]</label>
                <select asp-for="Week" class="form-control" asp-items="ViewBag.Week"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="@localizer["edit"]" class="btn btn-primary" />
                <a asp-action="Delete" asp-controller="Records" asp-route-Id="@ViewBag.Id" class="btn btn-danger">@localizer["delete"]</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
