@model IEnumerable<StudentManagement.Models.Record>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Index";
}

<h1>@localizer["title"]</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@localizer["student"]</th>
            <th scope="col">@localizer["hour"]</th>
            <th scope="col">@localizer["project"]</th>
            <th scope="col">@localizer["action"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.OrderByDescending(x => x.Created))
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.StudentEmail</td>
                <td>@item.LogTime</td>
                <td>@item.Project.Title</td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">@localizer["edit"]</a>
                    <a class="btn btn-danger" asp-action="TableDelete" asp-route-id="@item.Id">@localizer["delete"]</a>
                </td>
            </tr>
        }

    </tbody>
</table>
