@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Project's Records";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h2 text-gray-900 mb-4 font-italic font-weight-bold">@ViewBag.ProjectName's Records</h1>
                                </div>
                                @foreach (var item in ViewBag.Record)
                                {
                                    <div class="mt-4" style="color:black;border-bottom:1px solid black;"><h5>@item.Key</h5></div>
                                    @foreach (var data in item)
                                    {
                                        <div class="row mt-2 mb-2" style="height:100px">
                                            <div style="display:flex;justify-content:center;align-items:center;">
                                                <img class="ml-3 mr-1" src="~/uploads/@data.Student.Avatar" style="width:50px;height:50px;border-radius:50%" />
                                            </div>
                                            <div class="col-6">
                                                <p>@data.Student.FullName</p>
                                                <p>@data.LogTime hour(s)</p>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@data.Progress" aria-valuemin="0" aria-valuemax="100" style="width: @data.Progress%">@data.Progress%</div>
                                                </div>
                                            </div>
                                            <div class="col-4" style="border:1px dashed grey;">
                                                <div style="overflow: hidden;text-overflow:ellipsis;height:100px">@data.Note</div>
                                            </div>
                                            <div class="ml-2" style="display:flex;flex-direction:column;justify-content:space-evenly;align-items:flex-start">
                                                <a style="width:40px" title="Edit" class="btn btn-success" asp-action="Edit" asp-controller="Records" asp-route-id="@data.Id">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a title="Delete" class="btn btn-danger" data-toggle="modal" href="#recordDeleteModal-@data.Id">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>

                                                <form method="post" asp-action="Delete" asp-controller="Records" asp-route-id="@data.Id">
                                                    <div id="recordDeleteModal-@data.Id" class="modal fade">
                                                        <div class="modal-dialog modal-confirm">
                                                            <div class="modal-content">
                                                                <div class="modal-header flex-column">
                                                                    <div class="icon-box">
                                                                        <i class="fas fa-times-circle"></i>
                                                                    </div>
                                                                    <h4 class="modal-title w-100">@localizer["Alert Title"]</h4>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>@localizer["Alert"]</p>
                                                                </div>
                                                                <div class="modal-footer justify-content-center">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@localizer["Cancel"]</button>
                                                                    <button type="submit" class="btn btn-danger">@localizer["Delete"]</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <hr>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
