@model StudentManagement.Models.AccountViewModel.AddPasswordViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<h2>@localizer["addPassword"]</h2>

<p class="text-info">
    @localizer["notice"]
</p>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>@localizer["newPassword"]</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>@localizer["confirmPassword"]</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary" style="width:auto">@localizer["setPassword"]</button>
        </form>
    </div>
</div>