@model IEnumerable<StudentManagement.Models.Student>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<h1>@localizer["title"]</h1>


<a class="btn btn-secondary mb-3" style="width:auto" asp-action="CreateStudent" asp-controller="Students">@localizer["add"]</a>

<table class="table table-striped" id="Exampledatatable">
    <thead>
        <tr>
            <th scope="col">@localizer["student"]</th>
            <th scope="col">@localizer["group"]</th>
            <th scope="col">@localizer["action"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
           <tr>
              <td>@student.StudentName</td>
              <td>@student.GroupNumber</td>

              <td>
                <a asp-action="EditStudent" asp-controller="Students" asp-route-id="@student.Id" class="btn btn-primary">@localizer["edit"]</a>
                <a asp-action="DeleteStudent" asp-controller="Students" asp-route-id="@student.Id" class="btn btn-danger">@localizer["delete"]</a>
              </td>
           </tr>}

    </tbody>
</table>


@section Scripts {

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#Exampledatatable").DataTable();
        });
    </script>
}


