@model IEnumerable<StudentManagement.Models.Student>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<h1>@localizer["title"]</h1>


<a class="btn btn-secondary mb-3" style="width:auto" asp-action="CreateStudent" asp-controller="Students">@localizer["add"]</a>

<form method="get" class="navbar-right">
    <div class="input-group mb-3">
        <input type="text" name="search" class="btn btn-outline-primary" placeholder="Enter your keyword" aria-describedby="basic-addon1" />
       
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">@localizer["search"]</button>
    </div>
</form>

@if(Model.Any())
{
    foreach(var student in Model)
    {
        <form method="post" asp-action="DeleteStudent" asp-controller="Students" asp-route-id="@student.Id">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Group Number</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@student.Id</td>
                        <td>@student.StudentName</td>
                        <td>@student.GroupNumber</td>

                        <td>
                            <a asp-action="EditStudent" asp-controller="Students" asp-route-id="@student.Id" class="btn btn-primary">@localizer["edit"]</a>
                            <span id="confirmSpan_@student.Id" style="display:none">
                                <span>@localizer["deleteSpan"]</span>
                                <button type="submit" class="btn btn-danger">@localizer["yes"]</button>
                                <a href="#" class="btn btn-primary" onclick="confirmDelete('@student.Id', false)">@localizer["no"]</a>
                            </span>

                            <span id="deleteSpan_@student.Id">
                                <a href="#" class="btn btn-danger" onclick="confirmDelete('@student.Id', true)">@localizer["delete"]</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    }
}


@section Scripts{
    <script src="~/js/site.js"></script>
}




