@model StudentManagement.Models.SubjectViewModel.SubjectDetailViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Subject's Deatil";
    var CurrentName = "";
}

<div class="row mb-4" style="justify-content: center;">
    <div id="subjectBackground" class="card-body col-12 col-lg-8" style="height:15rem;background-image:url(https://www.gstatic.com/classroom/themes/@Model.Subject.ThemeName);background-position:center;background-size:cover;color:#fff;display:flex;justify-content:space-between;border-radius:.4rem;">
        <h1>@Model.Subject.Name</h1>
        <div style="display:flex;justify-content:flex-end">
            <h1 class="mr-3"><a style="color:white" asp-action="Create" asp-controller="Projects" asp-route-subjectId="@Model.Subject.Id"><i class="fas fa-plus"></i></a></h1>
            <h1 style="cursor:pointer" onclick="Close()"><i class="fas fa-times"></i></h1>
        </div>
    </div>
</div>


<div class="row" style="justify-content:center">
    <nav class="col-12 col-lg-8">
        <div class="nav nav-tabs" id="nav-tab" role="tablist" style="justify-content:center">
            <a class="nav-link active" id="nav-project-tab" data-toggle="tab" href="#nav-project" role="tab" aria-controls="nav-project" aria-selected="true" style="flex:1;text-align:center">@localizer["Project"]</a>
            <a class="nav-link" id="nav-notification-tab" data-toggle="tab" href="#nav-notification" role="tab" aria-controls="nav-notification" aria-selected="false" style="flex:1;text-align:center">@localizer["Notification"]</a>
            <a class="nav-link" id="nav-attendance-tab" data-toggle="tab" href="#nav-attendance" role="tab" aria-controls="nav-attendance" aria-selected="false" style="flex:1;text-align:center">@localizer["Attendance"]</a>
            <a class="nav-link" id="nav-user-tab" data-toggle="tab" href="#nav-user" role="tab" aria-controls="nav-user" aria-selected="false" style="flex:1;text-align:center">@localizer["User"]</a>
            <a class="nav-link" id="nav-code-tab" data-toggle="tab" href="#nav-code" role="tab" aria-controls="nav-code" aria-selected="false" style="flex:1;text-align:center">@localizer["Code"]</a>
        </div>
    </nav>
    <div class="tab-content col-12 col-lg-8" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-project" role="tabpanel" aria-labelledby="nav-project-tab">
            @foreach (var item in Model.Subject.Projects.OrderByDescending(x => x.Created))
            {
                <div class="card shadow mb-4 mt-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <div style="width:40px;height:40px;background-color:#4285f4;border-radius:50%;color:#fff;display:flex;justify-content:center;align-items:center"><i class="fas fa-award"></i></div>
                        <div style="display:flex;flex-direction:column;justify-content:space-between;align-items:flex-start;cursor:pointer">
                            <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id">
                                <h6 class="m-0 font-weight-bold text-primary">@item.Creator.FullName @localizer["Upload"]: @item.Title</h6>
                                <p style="margin:0;font-size:.5rem">@item.Created.ToShortDateString() (@localizer["Modify"]: @item.Modified.ToShortDateString())</p>
                            </a>
                        </div>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">@localizer["Action"]:</div>
                                <a class="dropdown-item" asp-action="Edit" asp-controller="Projects" asp-route-id="@item.Id">@localizer["Detail"]</a>
                                <a class="dropdown-item" href="#" onclick="shareLink(@item.Created)">@localizer["Share"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="tab-pane fade" id="nav-notification" role="tabpanel" aria-labelledby="nav-notification-tab">
            <form id="createNotification" method="post" asp-action="Create" asp-controller="Notifications" asp-route-subjectId="@Model.Subject.Id">
                <div class="card shadow mt-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">@Model.Subject.Name @localizer["Notification"]</h6>
                        <div style="cursor:pointer" onclick="initMap()"><i class="fas fa-map-marker-alt"></i></div>
                    </div>

                    <div class="card-body">
                        <input class="form-control form-control-user" asp-for="NotificationCreateViewModel.Text" />
                        <div id="map" class="mt-3 mb-3"></div>
                        <a href="#" class="btn btn-primary btn-user btn-block" onclick="document.getElementById('createNotification').submit();"><i class="fas fa-check-circle"></i></a>
                    </div>
                </div>
            </form>
        </div>


        <div class="tab-pane fade" id="nav-attendance" role="tabpanel" aria-labelledby="nav-attendance-tab">
            <form id="createAttendance" method="post" asp-action="Create" asp-controller="Attendances" asp-route-subjectId="@Model.Subject.Id">
                <div class="row mt-4 mb-4" style="display:flex;justify-content:flex-start">
                    <select asp-for="AttendanceCreateViewModel.StudentId" class="col-4 form-control form-control-user" asp-items="@ViewBag.Students"></select>
                    <input class="col-4 ml-3 mr-3 form-control form-control-user" type="date" asp-for="AttendanceCreateViewModel.PickedDate" />
                    <a href="#" class="col-1 btn btn-primary btn-user btn-block" onclick="document.getElementById('createAttendance').submit();"><i class="fas fa-check-circle"></i></a>
                </div>
            </form>
            <form method="get" asp-action="Details" asp-controller="Subjects" asp-route-id="@Model.Subject.Id">
                <div class="mb-4" style="display:flex;align-items:center">
                    <select class="col-2 form-control form-control-user mr-2" name="month">
                        <option value="01">@localizer["January"]</option>
                        <option value="02">@localizer["February"]</option>
                        <option value="03">@localizer["March"]</option>
                        <option value="04">@localizer["April"]</option>
                        <option value="05">@localizer["May"]</option>
                        <option value="06">@localizer["June"]</option>
                        <option value="07">@localizer["July"]</option>
                        <option value="08">@localizer["August"]</option>
                        <option value="09">@localizer["September"]</option>
                        <option value="10">@localizer["Octorber"]</option>
                        <option value="11">@localizer["November"]</option>
                        <option value="12">@localizer["December"]</option>
                    </select>
                    <button class="col-1 btn btn-primary btn-user btn-block mr-2" type="submit">@localizer["Switch"]</button>
                    <h5 style="margin:0!important">@localizer["Current Month"]: @ViewBag.Month</h5>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@localizer["Student"]</th>
                            @for (var numb = 1; numb <= ViewBag.DaysInMonth; numb++)
                            {
                                <th>@numb</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Attendance)
                        {
                            if (CurrentName != item.Student.FullName)
                            {
                                CurrentName = item.Student.FullName;
                                <tr>
                                    <td>@CurrentName</td>
                                    @for (var num = 1; num <= ViewBag.DaysInMonth; num++)
                                    {
                                        <td>
                                            @{
                                                var GetThatDayValue = Model.Subject.Attendances.Where(x => x.PickedDate.Month == ViewBag.Month && x.PickedDate.Day == num && x.Student.FullName == CurrentName).FirstOrDefault();
                                                var DD = GetThatDayValue != null ? "✔️" : "❌";
                                                <text>@DD</text>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
            @foreach (var item in ViewBag.users)
            {
                <div class="mt-4" style="color:#1967d2;border-bottom:1px solid #1967d2"><h1>@item.Key</h1></div>
                @foreach (var data in item)
                {
                    <div class="mt-3 md-3" style="border-bottom:1px solid #e0e0e0;display:flex;justify-content:flex-start;align-items:center;height:50px">
                        <div class="mr-4" style="width:40px;height:40px;background-color:#4285f4;border-radius:50%;color:#fff;display:flex;justify-content:center;align-items:center">
                            <a asp-action="Profile" asp-controller="Manage" asp-route-id="@data.User.Id">
                                <img style="width:40px;height:40px;border-radius:50%" src="~/uploads/@data.User.Avatar" />
                            </a>
                        </div>
                        <span>@data.User.FullName</span>
                    </div>
                }
            }
        </div>
        <div class="tab-pane fade" id="nav-code" role="tabpanel" aria-labelledby="nav-code-tab">
            @if (Model.Subject.Code != null)
            {
                <div class="container mt-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="border:2px dashed #d1d3e2;border-radius:.5rem">
                        <div style="display:flex;flex-direction:column;justify-content:space-between;align-items:flex-start">
                            <h5 class="m-0 font-weight-bold text-primary">@localizer["Subject Code"]</h5>
                            <h6 class="m-0 font-weight-bold mt-2">@Model.Subject.Code</h6>
                        </div>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">@localizer["Code Setting"]:</div>
                                <form method="post" asp-action="ResetCode" asp-controller="Subjects" asp-route-subjectId="@Model.Subject.Id">
                                    <button type="submit" class="dropdown-item">@localizer["Reset"]</button>
                                </form>
                                <div class="dropdown-divider"></div>
                                <form method="post" asp-action="RemoveCode" asp-controller="Subjects" asp-route-subjectId="@Model.Subject.Id">
                                    <button type="submit" class="dropdown-item">@localizer["Close"]</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <form method="post" asp-action="ResetCode" asp-controller="Subjects" asp-route-subjectId="@Model.Subject.Id">
                    <button class="btn btn-primary mt-4" type="submit">@localizer["Generate"]</button>
                </form>
            }
        </div>

    </div>
</div>


@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLX5eXlHSgEOZ-fqhZzNRHc7uo_Zbhj00"></script>

    <script type="text/javascript">
        function initMap() {
            const myLatlng = { lat: 56.468994804578905, lng: 84.94389999859904 };

            var div = document.getElementById("map");

            div.style.width = "100%";
            div.style.height = 300 + "px";

            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 12,
                center: myLatlng,
            });

            // Create the initial InfoWindow.
            let infoWindow = new google.maps.InfoWindow({
                content: "Selecte Your Address",
                position: myLatlng,
            });

            console.log(infoWindow.position);

            infoWindow.open(map);
            // Configure the click listener.
            map.addListener("click", (mapsMouseEvent) => {
                // Close the current InfoWindow.
                infoWindow.close();
                // Create a new InfoWindow.
                infoWindow = new google.maps.InfoWindow({
                    position: mapsMouseEvent.latLng,
                });
                infoWindow.setContent(
                    JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
                );
                infoWindow.open(map);

            });


        }
    </script>

    <script>
        var backgroundBox = document.getElementById("subjectBackground");
        function Close() {
            backgroundBox.style.display = "none";
        }
    </script>
}
