@model StudentManagement.Models.Subject

@{
    ViewData["Title"] = "Subject's Deatil";

}
<div class="row mb-4" style="justify-content: center;">
    <div class="card-body col-12 col-lg-8" style="height:15rem;background-image:url(https://gstatic.com/classroom/themes/Economics.jpg);background-position:center;background-size:cover;color:#fff;justify-content:center;border-radius:.4rem;">
        <h1>@Model.Name</h1>
    </div>
</div>

<div class="row" style="justify-content:center">
    <nav class="col-12 col-lg-8">
        <div class="nav nav-tabs" id="nav-tab" role="tablist" style="justify-content:center;">
            <a class="nav-link active" id="nav-project-tab" data-toggle="tab" href="#nav-project" role="tab" aria-controls="nav-project" aria-selected="true">Projects</a>
            <a class="nav-link" id="nav-user-tab" data-toggle="tab" href="#nav-user" role="tab" aria-controls="nav-user" aria-selected="false">Users</a>
            <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">#</a>
        </div>
    </nav>
    <div class="tab-content col-12 col-lg-6" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-project" role="tabpanel" aria-labelledby="nav-project-tab">
            @foreach (var item in Model.Projects)
            {
                <div class="card shadow mb-4 mt-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <div style="width:40px;height:40px;background-color:#4285f4;border-radius:50%;color:#fff;display:flex;justify-content:center;align-items:center"><i class="fas fa-award"></i></div>
                        <div style="display:flex;flex-direction:column;justify-content:space-between;align-items:flex-start">
                            <h6 class="m-0 font-weight-bold text-primary">@item.Creator.FullName uploads new project: @item.Title</h6>
                            <p style="margin:0;font-size:.5rem">@item.Created.ToShortDateString() (last time modified:@item.Modified.ToShortDateString())</p>
                        </div>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="tab-pane fade" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
            @foreach(var item in ViewBag.users)
            {
            <p>@item.Key</p>
                @foreach(var data in item)
                {
                    @data.User.FullName
                }
            }
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>

    </div>
</div>