@model IEnumerable<StudentManagement.Models.Subject>

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ ViewData["Title"] = "Subjects"; }


<h1>All Subjects</h1>



@if ((User.IsInRole("Teacher")) || (User.IsInRole("Administrator")))
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="Create" asp-controller="Subjects">Add Subjects</a>}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Subject's DataTable</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Subjects</th>
                        <th>Creator</th>
                        <th>Created</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a asp-action="Detail" asp-controller="Subjects" asp-route-id="@item.Id">@item.Name</a></td>
                            <td>@item.Creator.FirstName</td>
                            <td>@item.Created</td>
                            <td>
                                <form style="display:inline-block;color:white" method="post" asp-action="Join" asp-controller="UserSubjects" asp-route-subjectId="@item.Id">
                                    <button type="submit" class="btn btn-success">Join</button>
                                </form>
                                <a class="btn btn-info" asp-action="Edit" asp-controller="Subjects" asp-route-id="@item.Id">
                                    Edit
                                </a>
                                <form style="display:inline-block;color:white" method="post" asp-action="Delete" asp-controller="Subjects" asp-route-id="@item.Id" id="deleteForm">
                                    <a class="btn btn-danger" onclick="document.getElementById('deleteForm').submit()">Delete</a>
                                </form>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/demo/datatables-demo.js"></script>
}